@charset "utf-8";

/* CSS Document */
body {font-family:Tahoma,"Microsoft YaHei",Arial;font-size:12px;color:#333;width:100%;margin:0;padding:0;text-align:left;height:100%;background:#fff;}
div,form,img,ul,ol,li,dl,dt,dd,p {margin:0; padding:0; border:0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; color:#333;font-weight:normal;}
table,td,tr,th{font-size:12px;}
li {list-style:none;}
.clear{ clear:both; line-height:0px; font-size:0px;}
.clearfix{ zoom:1;}
.clearfix:after{ content:".";display:block; height:0; clear:both; visibility:hidden;}
.b {font-weight:bold;}
.i {font-style:italic;}
.left {float:left;}
.right {float:right;}
.hide {display:none;}
.center{ text-align:center;}
a{blr:expression(this.onFocus=this.blur());   /*    IE Opera    */
  outline:none;   /*    FF Opera    */}
a:focus{-moz-outline-style: none;   /*    FF    */}
a{text-decoration:none;color:#333;}
a:hover {text-decoration:none;color:#91b61c;}
.f14 {font-size:14px;}
.f18 {font-size:18px;}  
.f20 {font-size:20px;}

.t10 {margin-top:10px;}
.t20 {margin-top:20px;}
.t40 {margin-top:40px;}
.t80 {margin-top:80px;}
.b10 {margin-bottom:10px;}
.b20 {margin-bottom:20px;}
.b40 {margin-bottom:40px;}
.b80 {margin-bottom:80px;}
.left10 {margin-left:10px;}



/* Color */
.white,a.white,a.white:visited {color:#fff;}
.black,a.black,a.black:visited {color:#000;}
.blue,a.blue,a.blue:visited {color:#2289ac;}
a.blue:hover { color:#2eaeda;}
.gray,a.gray,a.gray:visited{color:#888}
a.gray:hover { text-decoration:underline;}
.green,a.green,a.green:visited{color:#c4d700}
a.green:hover { text-decoration:underline;}



/*Form*/
input,select { outline:none;font-size:12px;color:#333;font-family:Tahoma,"Microsoft YaHei",Arial;}
textarea {outline:none;font-size:12px;font-family:Tahoma,"Microsoft YaHei",Arial;color:#ab4a43; resize:none;padding:3px; line-height:20px;}
span.inputText {color:#a3a3a3;font-size:14px;position:absolute;left:10px;top:9px;line-height:16px;}


/*  #header  */
#header{ position:absolute;left:0;top:0;width:100%;height:100px; background:url(../images/base/h_bg.png);min-width:960px; z-index:9;}
	.h_box {width:960px;margin:0 auto;height:100px;}
	.h_box .logo {float:left;margin-top:21px;}
	.h_box .h_right {float:right;}
	.h_box .lang {float:right; position:relative;margin-top:25px;}
	.h_box .lang a.active{color:#c4d700;}
	

#menu {float:right;clear:both;width:770px;}
#menu ul {float:left;}
#menu ul li {float:left;font-size:14px; position:relative;}
#menu ul li a {color:#333;display:block;padding:0 15px;}
#menu ul li a:hover {color:#91b61c; text-decoration:none;}
#menu ul li a.active {color:#91b61c;font-weight:bold;}
#menu ul li a.selected {color:#91b61c;}

#menu ul li .menu_up { position:absolute;top:48px;left:0;padding-top:10px; background:url(../images/base/menu_up_ico.png) no-repeat 25px 0;width:175px;display:none;}
#menu ul li .menu_up ul {float:none;display:block; background:url(../images/base/menu_up_bg.png);height:100%; overflow:hidden;}
#menu ul li .menu_up ul li {float:none;display:block;height:100%; overflow:hidden;border-bottom:1px solid #bacf58;height:auto;line-height:26px;padding:8px 15px;}
#menu ul li .menu_up ul li.last {border:0;}
#menu ul li .menu_up ul li a {display:block;height:auto;line-height:26px;color:#fff;font-weight:bold;padding:0;}
#menu ul li .menu_up ul li a:hover { text-decoration:underline;}



#menu .search {float:right;margin-top:20px;padding-left:10px;}
#menu .search a {display:block;width:16px;height:16px; background:url(../images/ico/ico-search1.png) no-repeat;}
#menu .search a:hover { background:url(../images/ico/ico-search2.png) no-repeat;}





/*  #footer  */
#footer {height:100%; overflow:hidden; background:#eaeaea;border-top:1px solid #cfcfcf;margin-top:40px;}
	.f_box {width:960px;margin:0 auto;padding:25px 0 30px 0;height:100%; overflow:hidden;}
	.f_box .f_menu {float:left;}
	.f_box .f_menu ul {text-align:left;}
	.f_box .f_menu ul li {float:left; background:url(../images/base/f_line_bg.png) no-repeat left center;padding:0 10px 0 11px;}
	.f_box .f_menu ul li.first { background:none;padding-left:0;}
	.f_box .allright {float:right;color:#505050;}
	.f_box .flow {float:left;margin-left:160px;}
	.f_box .flow a {color:#333;}
	.f_box .flow a:hover {text-decoration:underline;}




#backTop { position:fixed;width:44px;height:44px;right:25px;bottom:95px; z-index:100;}
#backTop a {display:block;width:44px;height:44px; background:url(../images/base/backtop_bg.png) no-repeat left bottom;}
#backTop a:hover { background-position:left top;}







/* Font */
