/* CSS: to php */

.exam_slide .list .check{
	float: none !important;
}
.exam_slide a.prev{
	right: 80px!important;
}
.exam_slide .monthDiv{
	float: right;
	margin-right: 45px;
	color: #92b71c;
}
.exam_slide .monthDiv span{
	font-weight: bold;
}
.exam_slide .list .table table th{
	text-align: center;
	width: 14%;
}
.exam_slide .list .table table td{
	position: relative;
	height: 120px;
}
.exam_slide td div.dateShow{
	position: absolute;
	bottom: 0px;
	right: 6px;
	color: #d0d0d0;
	font-size: 14px;
	font-weight: bold;
}




.myTabs .myTabsCon div.oneCon{
    display: none;
}
.myTabs .myTabsCon div.oneCon:first-child{
    display: block;
}
.myTabs .myTabsBtn .leftArrow{
    display: inline-block;
    line-height: 15px;
    width: 12px;
    height: 13px;
    background: url("../images/ico/ico-arrow-left.png") no-repeat center;
    vertical-align: middle;
}
.myTabs .myTabsBtn .rightArrow{
    display: inline-block;
    line-height: 15px;
    width: 12px;
    height: 13px;
    background: url("../images/ico/ico-arrow-right.png") no-repeat center;
    vertical-align: middle;
}
.myTabs .myTabsBtn{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.myTabs .myTabsBtn span{
    line-height: 15px;
    vertical-align: middle;
}





/*responsive*/

@media screen and (max-width: 1400px) {
    /*.homeBanner .bg img {width:auto;float:right;}
    .banner .bg img {width:auto;float:right;}
    .home_list .photo .bg img {width:auto;float:right;}
    .coproduction .banner .bg img {width:auto;float:right;}
    .servicesList .photo .bg img {width:auto;float:left;}
    .allmap .bg img {width:auto;float:right;}*/
    .homeBanner .bg img {width:auto;}
    .banner .bg img {width:auto;float:right;}
    .home_list .photo .bg img {width:auto;}
    .coproduction .banner .bg img {width:auto;float:right;}
    .servicesList .photo .bg img {width:auto;float:left;}
    .allmap .bg img {width:auto;float:right;}
}
		
		
@media screen and (max-width: 960px) {
	.menu ul {padding-left:100px;}
}
