/* CSS: to php */









/*responsive*/

@media screen and (max-width: 1400px) {
	.homeBanner .bg img {width:auto;float:right;}
	.banner .bg img {width:auto;float:right;}
	.home_list .photo .bg img {width:auto;float:right;}
	.coproduction .banner .bg img {width:auto;float:right;}
	.servicesList .photo .bg img {width:auto;float:left;}
	.allmap .bg img {width:auto;float:right;}
}
		
		
@media screen and (max-width: 960px) {
	.menu ul {padding-left:100px;}
}
