/* CSS: GUTEN */




.homeBanner .contacts {background:url(../images/base/h_bg.png);margin-top:335px !important;}
.homeBanner .contacts .cont {padding:0;}
.homeBanner .contacts .cont h1 {font-weight:normal;font-size:40px;color:#333;line-height:60px;width:auto;padding:30px 30px;text-align:center;}
.homeBanner .contacts .cont h1 strong {font-size:50px;color:#c4d700;}
.homeBanner .startNow {margin-top:30px;}
.homeBanner .startNow a {width:315px;height:90px;margin:0 auto;display:block;font-size:30px;font-weight:bold; text-transform:uppercase;line-height:90px;text-align:center; background:url(../images/base/start_bg1.png);color:#322208;}
.homeBanner .startNow a img { position:relative;margin-left:10px;top:2px;}
.homeBanner .startNow a:hover {background:url(../images/base/start_bg2.png)}





/*.home_list .contacts { top:445px;}*/
.home_list .cont .btn_green {text-align:center;clear:both;margin-top:30px;height:50px; overflow:hidden;}
.home_list .cont .btn_green a {display:inline;*display:inline-block;*zoom:1; background:#c4d700;color:#f4f8e9;font-size:18px;font-weight:bold;padding:12px 20px;line-height:50px;}
.home_list .cont .btn_green a:hover { background:#9ec71d;}








	.kursen {height:100%; overflow:hidden;margin:50px 0 0 0;}
	.kursen .kTitle {height:100%; overflow:hidden;padding-bottom:15px;border-bottom:1px solid #c4d700;}
	.kursen .kTitle h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;}
	.kursen .kTitle h3 {float:left;font-size:22px;font-weight:bold;color:#c4d700; text-transform:uppercase;}
	.kursen .kTitle .btn_blog {float:right;}
	.kursen .kTitle .btn_blog a {display:block;height:30px;line-height:28px;color:#fff;font-size:14px; background:#c4d700;padding:0 10px;}
	.kursen .kTitle .btn_blog a img {position:relative;margin:0 10px;top:2px;}
	.kursen .kTitle .btn_blog a:hover { background:#9ec71d;}
	
	.kursen_links {height:100%; overflow:hidden;margin-top:40px;width:990px;}
	.kursen_links ul {text-align:left;}
	.kursen_links ul li {float:left;width:314px;height:70px;margin:0 9px 9px 0;}
	.kursen_links ul li a {display:block; background:url(../images/base/start_bg1.png);width:314px;height:70px;color:#322208;line-height:70px;font-size:22px;font-weight:bold; text-transform:uppercase;}
	.kursen_links ul li a img { position:relative;margin:0 15px 0 20px;top:4px;}
	.kursen_links ul li a:hover { background:url(../images/base/start_bg2.png);}
	.kursen_links ul li.last span {float:left;font-size:16px;line-height:70px;padding-left:20px;}
	.kursen_links ul li.last img {float:right;margin-top:9px;}
	
	.kursen .left {width:590px;margin-top:50px;}
	.kursen .right {width:330px;margin-top:50px;}
	
	
	.kursen_slide {height:440px;width:100%; position:relative;}
	.kursen_slide .slides_container {overflow:hidden; position:relative;height:390px;}
	.kursen_slide .list {position:relative;height:390px; overflow:hidden;width:590px;}
	.kursen_slide .list h4 {float:left;height:59px;line-height:59px;font-size:30px;padding:0 20px; background:url(../images/base/h4_bg.png); position:absolute;left:20px;bottom:20px;color:#c4d700;}
	.kursen_slide ul.pagination {height:100%; overflow:hidden;text-align:center;display:block;margin-top:10px;}
	.kursen_slide ul.pagination li {display:inline-block;*display:inline;*zoom:1;padding:5px;}
	.kursen_slide ul.pagination li a {display:block;width:14px;height:0; padding-top:13px; overflow:hidden; background:url(../images/ico/ico-slide-2.png) no-repeat;}
	.kursen_slide ul.pagination li.current a { background:url(../images/ico/ico-slide-1.png) no-repeat;}
	
	.exam_slide {height:100%;width:100%; position:relative;margin-top:25px;}
	.exam_slide .slides_container {overflow:hidden; position:relative;height:100%;}
	.exam_slide .list {position:relative;height:100%; overflow:hidden; background:#fff;width:590px;}
	.exam_slide .list .check {float:left;}
	.exam_slide .list .check ul li {float:left;height:30px;padding-left:30px; background:url(../images/ico/ico-checkbox1.png) no-repeat left center;line-height:30px;font-size:16px;margin-right:25px; cursor:pointer;}
	.exam_slide .list .check ul li.selected {background:url(../images/ico/ico-checkbox2.png) no-repeat left center;}
	.exam_slide .list .table {clear:both;margin-top:20px;border-left:1px solid #d0d0d0;}
	.exam_slide .list .table table {}
	.exam_slide .list .table table th { background:#c4d700;color:#fff;padding:12px 10px;line-height:20px;border-right:1px solid #d0d0d0;}
	.exam_slide .list .table table td {line-height:20px;padding:12px 10px;border-bottom:1px solid #d0d0d0;border-right:1px solid #d0d0d0;}
	.exam_slide .list .table table td .address {}
	.exam_slide .list .table table td .level {}
	.exam_slide .list .table table td .book {font-size:14px;color:#f2af2d;font-weight:bold;}
	
	.exam_slide a.prev { position:absolute;right:41px;top:0px; z-index:24;width:40px;height:0px;padding-top:30px; overflow:hidden; background:url(../images/base/btn_prevnext.png) no-repeat left top;}
	.exam_slide a.prev:hover { background-position:left -30px;}
	.exam_slide a.next { position:absolute;right:0;top:0px; z-index:24;width:40px;height:0px;padding-top:30px; overflow:hidden; background:url(../images/base/btn_prevnext.png) no-repeat right top;}
	.exam_slide a.next:hover { background-position:right -30px}
	
	.kursen .blog_list {height:100%; overflow:hidden;margin:10px 0;}
	.kursen .blog_list dl {display:block;height:100%; overflow:hidden;border-bottom:1px dashed #999;padding:30px 0;}
	.kursen .blog_list dl.last {border:0;}
	.kursen .blog_list dl dt {float:left; text-align:left;width:180px;padding-top:5px;}
	.kursen .blog_list dl dd {display:block;margin-left:210px;}
	.kursen .blog_list dl dd.nopicture {margin-left:0;}
	.kursen .blog_list dl dd h3 {display:block;font-size:16px;line-height:22px;font-weight:bold;color:#c4d700;}
	.kursen .blog_list dl dd p {display:block;margin-top:15px;line-height:20px;}
	
	
	
	.themap {height:500px; overflow:hidden;z-index:8;width:960px;clear:both; position:relative;margin:30px auto;}
	.themap .bg {height:500px; overflow:hidden;width:100%;position: absolute; z-index:-1;min-width:960px;left:0;}
	.themap .bg img {width:100%;min-height:500px;}
	
	
	.testimonials {padding:20px; position:relative;}
	.testimonials .slides_container {}
	.testimonials .slides_container .list {}
	.testimonials .slides_container .list dl {height:100%; overflow:hidden; background:#fff;}
	.testimonials .slides_container .list dl dt {float:left;width:120px;}
	.testimonials .slides_container .list dl dd {display:block;margin-left:140px;}
	.testimonials .slides_container .list dl dd p {display:block;line-height:22px;margin-bottom:10px;}
	.testimonials a.prev { position:absolute;right:41px;bottom:20px; z-index:24;width:15px;height:0px;padding-top:17px; overflow:hidden; background:url(../images/base/btn_prev_test1.png) no-repeat left top;}
	.testimonials a.prev:hover {background:url(../images/base/btn_prev_test2.png) no-repeat left top;}
	.testimonials a.next { position:absolute;right:20px;bottom:20px; z-index:24;width:15px;height:0px;padding-top:17px; overflow:hidden; background:url(../images/base/btn_next_test1.png) no-repeat left top;}
	.testimonials a.next:hover { background:url(../images/base/btn_next_test2.png) no-repeat left top;}
	
	
	.veranstaltungen {height:100%; overflow:hidden;padding:19px 20px;}
	.veranstaltungen ul {text-align:left;}
	.veranstaltungen ul li {display:block;height:100%; overflow:hidden;border-bottom:1px dashed #7f7f7f;padding-bottom:20px;margin-bottom:20px;}
	.veranstaltungen ul li.last {border:0;margin-bottom:0;padding-bottom:0;}
	.veranstaltungen ul li h4 {display:block;font-size:16px;font-weight:bold;color:#c4d700;line-height:20px;}
	.veranstaltungen ul li h4 a {color:#c4d700;}
	.veranstaltungen ul li h4 a:hover { text-decoration:underline;}
	.veranstaltungen ul li .timeAddress {}
	.veranstaltungen ul li .timeAddress {height:100%; overflow:hidden;font-size:14px;margin:15px 0 0px 0;font-weight:bold;}
	.veranstaltungen ul li .timeAddress div {float:left;line-height:30px;margin-right:30px;}
	.veranstaltungen ul li .timeAddress div img { position:relative;top:6px;margin-right:7px;}
	
	.rightlist .news_list {height:100%; overflow:hidden;padding:20px;}
	.rightlist .news_list dl {display:block;height:100%; overflow:hidden;border-bottom:1px dashed #c4d700;padding-bottom:20px;margin-bottom:20px;}
	.rightlist .news_list dl.last {border:0;margin-bottom:0;padding-bottom:0;}
	.rightlist .news_list dl dd {display:block;}
	.rightlist .news_list dl dd h3 {display:block;font-size:14px;line-height:22px;font-weight:bold;color:#c4d700;}
	.rightlist .news_list dl dd .date {margin-top:10px;}
	.rightlist .news_list dl dd p {display:block;margin:10px 0 0 0;line-height:20px;}
	.rightlist p.text {padding:19px;}
	
	.rightlist .press {height:100%; overflow:hidden;padding:0 20px;}
	.rightlist .press ul li{display:block;height:100%; overflow:hidden;border-bottom:1px dashed #999;background:url(../images/ico/ico-arrow2.png) no-repeat left 25px;padding:20px 0;padding-left:25px; }
	.rightlist .press ul li.last {border:0;}
	.rightlist .press ul li h4 {display:block;font-size:16px;font-weight:bold;color:#c4d700;}
	.rightlist .press ul li .b {margin-top:5px;}
	.rightlist .press ul li .date {margin-top:5px;}
	.rightlist .press ul li .web {margin-top:5px;}
	
	.rightlist .title .btn {float:right;margin-right:10px;}
	.rightlist .title .btn div {float:left;margin-left:12px;margin-top:15px;}
	
	
	.aboutus {height:100%; overflow:hidden;}
	.aboutus .info {height:100%; overflow:hidden;}
	.aboutus .info h2 {display:block;font-size:16px;font-weight:bold;}
	.aboutus .info p {display:block;font-size:14px;line-height:24px; margin-top:20px;}
	.aboutus .btn {height:100%; overflow:hidden;margin-top:20px;}
	.aboutus .btn a {float:left;height:30px;line-height:30px;padding:0 20px;color:#fff;font-size:14px; background:#c4d700;margin-right:10px;}
	.aboutus .btn a:hover { background:#9ec71d;}
	.aboutus .title {height:100%; overflow:hidden;padding-bottom:15px; border-bottom:1px solid #c4d700;margin-top:50px;}
	.aboutus .title h2 {float:left;width:520px;font-size:30px;color:#c4d700;font-weight:bold;line-height:36px; text-transform:uppercase;}
	.aboutus .text {height:100%; overflow:hidden;margin-top:40px;}
	.aboutus .text p {float:left;font-size:14px;line-height:22px;width:705px;}
	.aboutus .text p.last {float:right;width:auto;text-align:right;}
	.aboutus .text p.last span {display:block;font-size:16px;}
	.aboutus .text p.last img {margin-top:20px;}
	.aboutus .list {height:100%;overflow:hidden;margin-top:50px;}
	.aboutus .list dl {display:block;height:100%; overflow:hidden;border-bottom:1px dashed #999;padding-bottom:30px;margin-bottom:30px;}
	.aboutus .list dl.last {border:0;padding-bottom:0;}
	.aboutus .list dl dt {float:left;width:102px;height:102px; background:url(../images/base/dt_bg.gif) no-repeat;line-height:102px;text-align:center;font-size:50px;font-weight:bold;color:#c4d700;}
	.aboutus .list dl dd {display:block;margin-left:135px;}
	.aboutus .list dl dd h3 {display:block;font-size:18px;font-weight:bold;color:#c4d700;}
	.aboutus .list dl dd ul {display:block;height:100%; overflow:hidden;margin-top:15px;}
	.aboutus .list dl dd ul li {display:block;font-size:12px;line-height:20px;padding-left:15px; background:url(../images/ico/ico-list-1.png) no-repeat left 7px;}
	.aboutus .ourTeachers {height:100%; overflow:hidden;margin:40px 0 20px 0;}
	.aboutus .ourTeachers ul.team {padding:0;display:block;width:990px;}
	.aboutus .ourTeachers ul.team li {float:left;width:300px;margin-right:30px;height:270px;}
	
	.ourteam .title {margin-top:0;}
	.ourteam .title .btn_hiring {float:right;}
	.ourteam .title .btn_hiring a {display:block;height:30px;line-height:30px;color:#fff;font-size:14px;text-align:center;padding:0 20px; background:#c4d700}
	.ourteam .title .btn_hiring a:hover { background:#9ec71d;}
	.ourteam .title .back {float:right;font-size:14px;line-height:38px;}
	
	.ourTeachers .photo {float:left;width:430px;}
	.ourTeachers .text {margin-left:470px;margin-top:0;}
	.ourTeachers .text h3 {display:block;font-size:16px;font-weight:bold;color:#c4d700;}
	.ourTeachers .text .class {margin-top:5px;font-size:14px;}
	.ourTeachers .text p {display:block;line-height:20px;margin:20px 0 0 0;font-size:12px;float:none;width:auto;}
	
	#lemumgebung {height:100%;width:100%; position:relative;}
	#lemumgebung .slides_container {overflow:hidden; position:relative;height:100%;}
	#lemumgebung .list {position:relative;height:100%; overflow:hidden; background:#fff;width:100%;}
	#lemumgebung .list .bg {height:900px; overflow:hidden;width:100%;min-width:960px;left:0;}
	#lemumgebung .list .bg img {width:100%;min-height:900px;}
	#lemumgebung .list .contents {position:absolute;width:100%;left:0;top:510px; background:url(../images/base/h_bg.png);padding-top:0;}
	#lemumgebung .list .contents .cont { width:960px;margin:0 auto;padding:30px 0;}
	#lemumgebung .list .contents .cont h2 {display:block;font-size:50px;font-weight:900;color:#c4d700;line-height:56px;margin-top:10px; text-align:center; text-transform:uppercase;}
	#lemumgebung .list .contents .cont p {display:block;font-size:14px;line-height:24px;margin-top:20px; text-align:center;}
	#lemumgebung a.prev { position:absolute;right:41px;top:470px; z-index:24;width:40px;height:0px;padding-top:30px; overflow:hidden; background:url(../images/base/btn_prevnext.png) no-repeat left top;}
	#lemumgebung a.prev:hover { background-position:left -30px;}
	#lemumgebung a.next { position:absolute;right:0;top:470px; z-index:24;width:40px;height:0px;padding-top:30px; overflow:hidden; background:url(../images/base/btn_prevnext.png) no-repeat right top;}
	#lemumgebung a.next:hover { background-position:right -30px}
	
	
	
	.media {margin-top:20px;}
	.media .list dl {height:100%; overflow:hidden;border-bottom:1px dashed #999;padding:40px 0 40px 0;}
	.media .list dl.last {border:0;}
	.media .list dl dt {float:left;width:320px;text-align:left;}
	.media .list dl dt img {width:280px;}
	.media .list dl dd {display:block;margin-left:320px;}
	.media .list dl dd h4 {display:block;font-size:18px;font-weight:bold;color:#c4d700;}
	.media .list dl dd h4 a {color:#c4d700;}
	.media .list dl dd h4 a:hover { text-decoration:underline;}
	.media .list dl dd .date {margin-top:10px;}
	.media .list dl dd .text p {display:block;line-height:20px;margin-top:20px;}
	.media .list dl dd .btn {height:100%; overflow:hidden;}
	.media .list dl dd a.btn_down {display:block;margin-top:20px;float:left;height:40px;line-height:40px;background:#c4d700;color:#f4f8e9;font-size:14px;font-weight:bold;padding:0 20px;}
	.media .list dl dd a.btn_down img { position:relative;margin-right:10px;}
	.media .list dl dd a.btn_down:hover { background:#9ec71d;}
		
	.stellenausschreibung {margin-top:50px;}
	.stellenausschreibung .info {font-size:14px;}
	.stellenausschreibung .left {width:560px;margin-top:50px;}
	.stellenausschreibung .right {width:330px;margin-top:50px;}
	.stellenausschreibung .left .title {height:100%; overflow:hidden;padding-bottom:15px;border-bottom:1px solid #c4d700;}
	.stellenausschreibung .left .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;line-height:38px;}
	.stellenausschreibung .left .title .back {float:right;font-size:14px;line-height:38px;}
	.stellenausschreibung .left .list {height:100%; overflow:hidden;margin:20px 0;}
	.stellenausschreibung .left .list ul {text-align:left;}
	.stellenausschreibung .left .list ul li {display:block;height:100%; overflow:hidden;padding:15px 0 15px 25px; background:url(../images/ico/ico-arrow2.png) no-repeat left 20px;border-bottom:1px dashed #999;}
	.stellenausschreibung .left .list ul li.last {border:0;}
	.stellenausschreibung .left .list ul li a {display:block;font-weight:bold;font-size:14px;line-height:22px;}
	.stellenausschreibung .left .list ul li .date {margin-top:5px;}
	
	.stellenausschreibung .left .cont {height:100%; overflow:hidden;margin:30px 0;}
	.stellenausschreibung .left .cont h4 {display:block;font-size:16px;font-weight:bold;color:#c4d700;margin-top:20px;}
	.stellenausschreibung .left .cont p {display:block;line-height:20px;}
	.stellenausschreibung .left .cont ul {display:block;height:100%; overflow:hidden;}
	.stellenausschreibung .left .cont ul li {display:block;padding-left:15px;line-height:20px; background:url(../images/ico/ico-list-2.png) no-repeat left 7px;}
	
	.whyus {height:100%; overflow:hidden;padding:0 19px;}
	.whyus dl {height:100%; overflow:hidden;margin:20px 0;}
	.whyus dl dt {float:left;width:40px;text-align:left;font-size:26px;font-weight:bold;color:#c4d700;}
	.whyus dl dd {display:block;margin-left:40px;line-height:20px;}
	.whyus dl dd h5 {display:block;font-size:14px;font-weight:bold;line-height:33px;}
	
	
	.kurse {height:100%; overflow:hidden;margin-top:60px;}
	.kurse .left {width:560px;}
	.kurse .right {width:330px;}
	.kurse .left .title {height:100%; overflow:hidden;padding-bottom:15px;border-bottom:1px solid #c4d700;}
	.kurse .left .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;line-height:38px;}
	.kurse .left .title .back {float:right;font-size:14px;line-height:38px;}
	.kurse .left .list {height:100%; overflow:hidden;border-bottom:1px dashed #999;padding:35px 0;}
	.kurse .left .list .left {width:340px;line-height:18px;}
	.kurse .left .list .right {width:190px;text-align:right;line-height:18px;}
	.kurse .left .list h3 {display:block;font-size:22px;font-weight:bold;color:#c4d700;}
	.kurse .left .list dl {display:block;height:100%; overflow:hidden;margin:15px 0;}
	.kurse .left .list dl dt {float:left;font-weight:bold;}
	.kurse .left .list dl dd {float:left;margin-left:5px;}
	.kurse .left .list dl dd table td {padding:0 5px 5px 0;}
	.kurse .left .list .btn {height:100%; overflow:hidden;}
	.kurse .left .list .btn a.more {float:left;height:30px;line-height:30px;padding:0 15px; background:#c4d700;color:#fff;font-size:14px;}
	.kurse .left .list .btn a.more img { position:relative;top:2px;margin-left:5px;}
	.kurse .left .list .btn a.more:hover { background:#9ec71d;}
	.kurse .left .nobr {border:0;}
	.kurse .left .list .right .price {}
	.kurse .left .list .right .price span {font-size:30px;color:#f2af2d;font-weight:bold;}
	.kurse .left .list .right p {display:block;margin-top:20px;}
	.kurse .left .list .right .btn {height:100%; overflow:hidden;}
	.kurse .left .list .right .btn a.btn_anmeldung {float:right;height:50px;line-height:50px;padding:0 30px; background:#f2af2d;color:#fff;font-size:18px;font-weight:bold;margin-top:130px;}
	.kurse .left .list .right .btn a.btn_anmeldung:hover { background:#fbd55e;}
	.kurse .left .text {border:0;}
	.kurse .left .text .left dl {margin:0 0 15px 0;}
	.kurse .left .text .right .btn a.btn_anmeldung {margin-top:90px;}
	
	.kurse_detail {height:100%; overflow:hidden;}
	.kurse_detail p {display:block;line-height:20px;margin-top:20px;}
	
	
	.rightlist .terms {padding:20px;}
	.rightlist .terms p {display:block;line-height:20px;}
	.rightlist .terms .btn {height:100%; overflow:hidden;}
	.rightlist .terms .btn a.btn_down {display:block;margin-top:20px;float:left;height:40px;line-height:40px;background:#c4d700;color:#f4f8e9;font-size:14px;font-weight:bold;padding:0 20px;}
	.rightlist .terms .btn a.btn_down img { position:relative;margin-right:10px;}
	.rightlist .terms .btn a.btn_down:hover { background:#9ec71d;}
	.rightlist .terms h5 {display:block;font-size:14px;font-weight:bold;margin-top:20px;color:#c4d700;}
	
	
	
	
	
	.application {}
	.application .aTitle {height:50px; background:#c4d700;float:left;width:100%;margin-top:40px;border-radius:.2em; position:relative; z-index:5; cursor:pointer;}
	.application .aTitle h3 {float:left;margin-left:20px;line-height:50px;color:#fff;font-size:16px;font-weight:bold;}
	.application .aTitle .ico {float:right;margin:20px 20px 0 0;}
	.application .aTitle .cont {float:left;width:100%;height:50px;}

	.application .aTitle .aList {position:absolute;left:0;top:50px;width:100%;display:none;}
	.application .aTitle .aList ul {display:block;height:100%; overflow:hidden;border:1px solid #ccc; background:#fff;padding:10px 0;}
	.application .aTitle .aList ul li {display:block;font-size:16px;line-height:30px;padding:0 20px;}
	.application .aTitle .aList ul li a {display:block;}
	.application .aTitle .aList ul li a:hover {}
	
	.application .form {float:left;width:100%;margin-top:25px;border-bottom:1px dashed #999;padding-bottom:30px;}
	.application .form ul li {display:block;padding:15px 0;clear:both;}
	.application .form ul li .name {float:left;width:95px;text-align:right;font-size:14px;padding-right:10px;line-height:35px;}
	.application .form ul li .input {float:left;}
	.application .form ul li .text {float:left;font-size:12px;line-height:18px;width:192px;padding-left:10px;}
	
	.application .form .input input {display:block; border:1px solid #dfdfdf; background:url(../images/base/input_bg.gif) repeat-x left top;font-size:14px;color:#333;padding:10px 10px;width:230px;border-radius:.2em;}
	.application .form ul li .input textarea {display:block; border:1px solid #dfdfdf; background:url(../images/base/input_bg.gif) repeat-x left top;font-size:14px;color:#333;padding:10px 10px;width:538px;height:160px;border-radius:.2em;}		
	
	.application .form .selectbox input { background:url(../images/ico/ico-selectbox.png) no-repeat 240px center; cursor:pointer;width:250px}
	.application .form .selectbox ul {top:39px;}
	.application .form .selectbox ul li {padding:0 11px; background:#fff}
	.application .form ul li .inputText {font-size:12px; top:12px;}
	.application .form ul li .input input.Wdate { background:url(../images/base/datePicker.gif) no-repeat 210px center;}
	
	
	.application .form .other {float:left;width:100%;margin-top:40px;}
	.application .form .other h2 {display:block;font-size:24px;font-weight:bold; color:#c4d700;}
	.application .form .other .left {width:280px;min-height:80px;}
	.application .form .other .left h4 {display:block;font-size:14px;margin-top:30px;line-height:22px;}
	.application .form .other .left .checkboxList {display:block;height:100%; overflow:hidden;margin:10px 0 0 0;}
	.application .form .other .left .checkboxList li {float:left;height:30px;background:url(../images/ico/ico-checkbox1.png) no-repeat left center;line-height:30px;font-size:16px;margin-right:25px; cursor:pointer;clear:none;padding:0 0 0 30px;}
	.application .form .other .left .checkboxList li.clear {clear:both; position:relative;margin-bottom:20px;}
	.application .form .other .left .checkboxList li.selected {background:url(../images/ico/ico-checkbox2.png) no-repeat left center;}
	.application .form .other .left .selectbox {margin-top:15px;width:225px;}
	.application .form .other .left .selectbox input {padding:9px 10px;width:203px; background-position:193px center;}
	.application .form .other .left .selectbox ul li {padding:0 11px;background:#fff}
	.application .form .other .left .selectbox ul {top:37px;}
	
	.application .btn {height:100%; overflow:hidden;}
	.application .btn a.btn_ok {float:right;height:50px;line-height:50px;padding:0 50px;font-size:18px;font-weight:bold; background:#c4d700;margin:40px 0 80px;color:#fff;}
	.application .btn a.btn_ok:hover { background:#9ec71d;}

	
	.IntensiveWeekendCourse {height:100%; overflow:hidden;padding:19px;}
	.IntensiveWeekendCourse .list {line-height:18px;}
	.IntensiveWeekendCourse dl {display:block;margin:0 0 15px 0;height:100%; overflow:hidden;}
	.IntensiveWeekendCourse dl dt {float:left;font-weight:bold;}
	.IntensiveWeekendCourse dl dd {float:left;width:220px;margin-left:5px;}
	.IntensiveWeekendCourse dl dd.auto {width:auto;}
	.IntensiveWeekendCourse .price {float:left;}
	.IntensiveWeekendCourse .price span{font-size:30px;color:#f2af2d;font-weight:bold;padding-right:10px;}
	.IntensiveWeekendCourse p.right {width:140px;}
	
	
	.kurse .appThankyou {float:none;width:auto;}
	.kurse .appThankyou .list .left {width:540px;}
	.kurse .appThankyou .info {height:100%; overflow:hidden;margin:20px 0 50px 0;}
	.kurse .appThankyou .info dl {display:block;height:100%; overflow:hidden;margin:40px 0;}
	.kurse .appThankyou .info dl dt {float:left;width:108px;}
	.kurse .appThankyou .info dl dt span {display:block;width:76px;height:76px; background:url(../images/base/dt_bg2.gif) no-repeat; text-align:center;line-height:76px;color:#fff;font-weight:bold;font-size:20px;}
	.kurse .appThankyou .info dl dd {display:block;margin-left:108px;}
	.kurse .appThankyou .info dl dd h5 {display:block;font-size:20px;font-weight:bold;color:#c4d700;}
	.kurse .appThankyou .info dl dd b  {display:block;font-size:14px;margin-top:15px;}
	.kurse .appThankyou .info dl dd strong {font-size:14px;}
	.kurse .appThankyou .info dl dd p  {display:block;line-height:24px;margin-top:15px;}
	.kurse .appThankyou .info dl dd ul {display:block;height:100%; overflow:hidden;margin-top:10px;}
	.kurse .appThankyou .info dl dd ul li  {display:block;line-height:20px;padding-left:15px; background:url(../images/ico/ico-list-2.png) no-repeat left center;}
	
	
	
	
	
	.prufungen {height:100%; overflow:hidden;margin-top:60px;}
	.prufungen .info {font-size:14px;line-height:24px;}
	.prufungen .info p {display:block;margin-bottom:30px;}
	.prufungen .left {width:560px;margin-top:30px;}
	.prufungen .right {width:330px;margin-top:30px;}
	.prufungen .left .title {height:100%; overflow:hidden;padding-bottom:15px;border-bottom:1px solid #c4d700;}
	.prufungen .left .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;line-height:38px;}
	.prufungen .application .form .other .left {margin-top:0;}
	
	.prufungen_list {}
	.prufungen_list ul li {display:block;border-bottom:1px dashed #999;padding:40px 0;}
	.prufungen_list ul li.last {border:0;}
	.prufungen_list ul li .block {float:left;border:3px solid #c4d700;width:174px;height:100px;margin-right:10px;}
	.prufungen_list ul li .block h3 {display:block;font-size:30px;font-weight:bold;text-align:center;color:#c4d700;line-height:50px;}
	.prufungen_list ul li .block p {display:block;text-align:center;line-height:18px;margin:0 10px;font-size:12px;}
	.prufungen_list ul li .block h4 {display:block;font-size:12px;text-align:center;line-height:40px;padding-top:5px;}
	.prufungen_list ul li .block .price {text-align:center;}
	.prufungen_list ul li .block .price span {font-size:30px;font-weight:bold;color:#f2af2d;}
	.prufungen_list ul li p {isplay:block;line-height:20px;margin-top:20px;}
	.prufungen_list ul li p.f14 {line-height:30px;}
	.prufungen_list ul li ul.list {display:block;height:100%; overflow:hidden;margin-top:20px;}
	.prufungen_list ul li ul.list li {display:block;padding:0;line-height:20px;padding-left:15px; background:url(../images/ico/ico-list-2.png) no-repeat left center;border:0;}
	.prufungen_list ul li .btn {height:100%; overflow:hidden;}
	.prufungen_list ul li .btn a.btn_book {float:right;height:50px;line-height:50px;padding:0 30px; background:#f2af2d;color:#fff;font-size:18px;font-weight:bold;margin-top:20px;}
	.prufungen_list ul li .btn a.btn_book:hover { background:#fbd55e;}
	
	.prufungen .appThankyou {float:none;width:auto;margin-top:0;}
	
	
	.agenda {height:100%; overflow:hidden;margin:50px 0;}
	.agenda .title {height:100%; overflow:hidden;padding-bottom:15px;border-bottom:1px solid #c4d700;}
	.agenda .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;line-height:38px;}
	
	.agenda .exam_slide .list {width:960px;}
	.exam_slide .list .city {float:left;margin-right:50px;}
	.exam_slide .list .city .selectbox input {display:block; border:1px solid #dfdfdf; background:url(../images/base/input_bg.gif) repeat-x left top;font-size:14px;color:#333;padding:10px 10px;width:210px;border-radius:.2em;}
	.exam_slide .list .city  .selectbox input { background:url(../images/ico/ico-selectbox.png) no-repeat 210px center; cursor:pointer;width:210px}
	.exam_slide .list .city .selectbox ul {top:39px;}
	.exam_slide .list .city .selectbox ul li {padding:0 11px; background:#fff}
	
	
	.events {height:100%; overflow:hidden;margin-top:60px;}
	.events .left {width:560px;}
	.events .right {width:330px;}
	.events .left .title {height:100%; overflow:hidden;padding-bottom:15px;border-bottom:1px solid #c4d700;}
	.events .left .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;line-height:38px;}
	
	.events .left ul.list {display:block;height:100%; overflow:hidden;margin-top:10px;}
	.events .left ul.list li {display:block;height:100%; overflow:hidden; border-bottom:1px dashed #999;padding:40px 0 35px 0;}
	.events .left ul.list li.last {border:0;}
	.events .left ul.list li dl {display:block;height:100%; overflow:hidden;clear:both;}
	.events .left ul.list li dl dt {float:left;}
	.events .left ul.list li dl dd {display:block;margin-left:205px;}
	.events .left ul.list li dl dd h4 {display:block;font-size:18px;font-weight:bold;color:#c4d700;}
	.events .left ul.list li dl dd .time {line-height:20px;padding-left:30px;font-weight:bold;font-size:14px;margin-top:10px; background:url(../images/ico/ico-time.png) no-repeat;}
	.events .left ul.list li dl dd .address {line-height:20px;padding-left:30px;font-weight:bold;font-size:14px;margin-top:10px; background:url(../images/ico/ico-address.png) no-repeat;}
	.events .left ul.list li dl dd .name {line-height:20px;padding-left:30px;font-weight:bold;font-size:14px;margin-top:10px; background:url(../images/ico/ico-name.png) no-repeat;}
	.events .left ul.list li p {display:block;margin-top:20px;line-height:20px;}
	.events .left ul.list li .btn {height:100%; overflow:hidden;} 
	.events .left ul.list li .btn a.btn_down {display:block;margin-top:30px;float:right;height:40px;line-height:40px;background:#c4d700;color:#f4f8e9;font-size:14px;font-weight:bold;padding:0 20px;}
	.events .left ul.list li .btn a.btn_down img { position:relative;margin-right:10px;}
	.events .left ul.list li .btn a.btn_down:hover { background:#9ec71d;}
	
	
	.events .veranstaltungen ul li .timeAddress {font-size:12px;}
	.events .veranstaltungen ul li .timeAddress div {line-height:20px;padding-left:30px;margin:5px 0;}
	.events .veranstaltungen ul li .timeAddress div img {display:none;}
	.events .veranstaltungen ul li .timeAddress div.time {background:url(../images/ico/ico-time.png) no-repeat;}
	.events .veranstaltungen ul li .timeAddress div.address {background:url(../images/ico/ico-address.png) no-repeat;}	
	
	
	
	
	
	
	
	