@charset "utf-8";
/* CSS Document */
	
/*  #container  */
#container {text-align:left;height:100%;min-width:960px;}


	
#main {}
		
		.homebox {}
		
		.homeBanner {height:900px; overflow:hidden;z-index:8;width:100%;clear:both; position:relative;}
		.homeBanner .bg {height:900px; overflow:hidden;width:100%;position: absolute; z-index:-1;min-width:960px;left:0;}
		.homeBanner .bg img {width:100%;min-height:900px;}
		.homeBanner .cont {width:960px;margin:0 auto;color:#fff;padding-top:100px;}
		.homeBanner .cont .logo {margin-top:160px;}
		.homeBanner .cont h1 {display:block;font-size:44px;line-height:60px;color:#fff;font-weight:bold;padding-top:90px;width:485px;}
		.homeBanner .cont h1 strong {font-size:60px;}
		
		.homeBanner .cont .links {height:100%; overflow:hidden;margin-top:75px;}
		.homeBanner .cont .links ul {}
		.homeBanner .cont .links ul li {float:left;width:314px;height:110px;margin:0 9px 9px 0;}
		.homeBanner .cont .links ul li a {display:block;width:314px;height:110px; background:url(../images/base/home_links_bg.png) no-repeat;color:#322208;}
		.homeBanner .cont .links ul li a:hover { background-position:left bottom;}
		.homeBanner .cont .links ul li a span {display:block;font-size:14px;padding-top:35px;margin-left:25px;}
		.homeBanner .cont .links ul li a strong {display:block;font-size:26px; text-transform:uppercase;margin-left:25px;line-height:40px;}
		.homeBanner .btn { position:absolute;width:100%;height:60px;left:0;bottom:30px;}
		.homeBanner .btn a.up {display:block;width:60px;height:60px;margin:0 auto; background:url(../images/base/btn_up.png) no-repeat;}
		.homeBanner .btn a.up:hover { background-position:left bottom;}
		
		
		.banner {height:450px; overflow:hidden;z-index:8;width:100%;clear:both; position:relative;}
		.banner .bg {height:450px; overflow:hidden;width:100%;position: absolute; z-index:-1;min-width:960px;left:0;}
		.banner .bg img {width:100%;min-height:450px;}
		.banner .cont {width:960px;margin:0 auto;}
		.banner .cont h1 {float:left;font-size:50px;font-weight:bold;height:80px;line-height:80px; background:#fff;padding:0 15px; position:relative;top:340px;color:#c4d700; text-transform:uppercase;}
		
		.home_list {height:100%; overflow:hidden; position:relative;}
		.home_list .photo {height:900px; overflow:hidden;width:100%; position:relative;}
		.home_list .photo .bg { position:absolute;left:0;top:0;width:100%;height:900px;}
		.home_list .photo .bg img {width:100%;min-height:900px;}
		.home_list .contacts { position:absolute;width:100%;left:0;top:510px; background:url(../images/base/h_bg.png);}
		.home_list .cont { width:960px;margin:0 auto;padding:30px 0;}
		.home_list .cont h2 {display:block;font-size:50px;font-weight:900;color:#c4d700;line-height:56px;margin-top:10px; text-align:center; text-transform:uppercase;}
		.home_list .cont p {display:block;font-size:14px;line-height:24px;margin-top:20px; text-align:center;}
		
		.home_list .btn { position:absolute;width:100%;height:60px;left:0;bottom:30px;}
		.home_list .btn a.up {display:block;width:60px;height:60px;margin:0 auto; background:url(../images/base/btn_up.png) no-repeat;}
		.home_list .btn a.up:hover { background-position:left bottom;}
		
		
		.home_news {height:100%; overflow:hidden;margin:40px 0 0 0;}
		.home_news .cont {width:960px;margin:0 auto;}
		.home_news .title {height:100%; overflow:hidden;border-bottom:1px solid #c4d700;padding:15px 0;margin-bottom:30px;}
		.home_news .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;}
		.home_news .title .more {float:right;}
		.home_news .title .more a {display:block;height:30px;color:#fff;line-height:28px;text-align:left; background:url(../images/ico/ico-arrow.png) no-repeat 55px center #c4d700;font-size:14px;padding:0 32px 0 18px;}
		.home_news .title .more a:hover { background-color:#9ec71d;}
		.home_news dl {display:block;float:left;width:275px;margin-right:66px;}
		.home_news dl.last {margin-right:0;}
		.home_news dl dt {display:block;font-size:14px;font-weight:bold;color:#c4d700;line-height:22px;}
		.home_news dl dd {display:block;padding-top:15px;line-height:18px;}
		
		
		
		.main_box {width:960px;margin:0 auto;}
		
		.contents {padding-top:58px;}
		.contents .left {width:615px;}
		.contents .right {width:260px;}
		
		.aboucont {height:100%; overflow:hidden;}
		.aboucont .info {font-size:16px;font-weight:bold;font-size:16px;line-height:24px;}
		.aboucont p {display:block;font-size:14px;line-height:24px;margin:30px 0;}
		.aboucont .title {height:100%; overflow:hidden;border-bottom:1px solid #c4d700;padding:15px 0;margin-top:30px;}
		.aboucont .title h2 {float:left;font-size:30px;font-weight:bold;color:#c4d700; text-transform:uppercase;}
		
		
		.rightlist {height:100%; overflow:hidden;margin-bottom:20px;}
		.rightlist .title {height:100%; overflow:hidden; background:#c4d700;border-top-left-radius:.3em;border-top-right-radius:.3em;}
		.rightlist .title h2 {float:left;height:45px;line-height:45px;padding-left:20px;color:#fff;font-size:18px;font-weight:bold;}
		.rightlist .cont {height:100%; overflow:hidden;border:1px solid #cfcfcf;border-top:0;border-bottom-left-radius:.3em;border-bottom-right-radius:.3em;}
		
		ul.team {height:100%; overflow:hidden;padding:19px 19px 0 19px;}
		ul.team li {display:block;height:100%; overflow:hidden;padding-bottom:19px;}
		ul.team li .name {font-size:16px;font-weight:bold;color:#c4d700;line-height:22px;margin-top:10px;}
		ul.team li .class {font-size:14px;line-height:20px;} 
		
		ul.popular {height:100%; overflow:hidden;padding:19px 19px 20px 19px;}
		ul.popular li {display:block;font-size:14px;line-height:26px;padding-left:20px; background:url(../images/ico/ico-arrow2.png) no-repeat left center;}
		
		ul.tags {height:100%; overflow:hidden;padding:19px 19px 20px 19px;}
		ul.tags li {float:left;height:30px;line-height:30px; background:#eee;margin:0 10px 10px 0;padding:0 10px;}
		
		
		.allmap {height:500px; overflow:hidden;z-index:8;width:100%;clear:both; position:relative;margin:30px 0;}
		.allmap .bg {height:500px; overflow:hidden;width:100%;position: absolute; z-index:-1;min-width:960px;left:0;}
		.allmap .bg img {width:100%;min-height:500px;}
		
		
		.kursort {height:100%; overflow:hidden;margin:40px auto;width:960px;position:relative;}
		.kursort .cont {height:100%; overflow:hidden;padding-right:225px;}
		.kursort .cont h3 {display:block;font-size:24px;font-weight:bold;color:#c4d700;line-height:22px;margin-bottom:25px; text-transform:uppercase;}
		.kursort .cont h3.t40 {margin-top:40px;}
		.kursort .cont p {display:block;margin:10px 0;line-height:20px;font-size:12px;}
		.kursort .cont p.info {font-size:14px;font-weight:bold;}
		.kursort .cont ul {display:block;height:100%; overflow:hidden;margin:10px 0;}
		.kursort .cont ul li {display:block;margin:20px 0;height:100%; overflow:hidden;}
		.kursort .cont ul li .ico {float:left;text-align:left;width:40px;}
		.kursort .cont ul li .text {display:block;margin-left:40px;font-size:14px;font-weight:bold;line-height:22px;}
		
		
		.followus {float:right;width:50px; position:absolute;right:0;top:0;}
		.followus ul li {float:right;padding-bottom:10px;}
		.followus ul li a {display:block;width:50px;height:50px; background:url(../images/ico/ico-follow.png) no-repeat;}
		.followus ul li.erweima a { background-position:right 0px;}
		.followus ul li.erweima a:hover { background-position:left 0px;}
		.followus ul li.weixin a { background-position:right -60px;}
		.followus ul li.weixin a:hover { background-position:left -60px;}
		.followus ul li.weibo a { background-position:right -180px;}
		.followus ul li.weibo a:hover { background-position:left -180px;}
		
		
		.sprachlernzentren,.fortbildungen {height:100%; overflow:hidden;}
		.sprachlernzentren .info {height:100%; overflow:hidden;}
		.sprachlernzentren .info p {display:block;font-size:14px;line-height:24px;}
		.sprachlernzentren .info .btn {height:100%; overflow:hidden;}
		.sprachlernzentren .info a.btn_down {display:block;margin-top:30px;float:left;height:50px;line-height:50px;background:#c4d700;color:#f4f8e9;font-size:18px;font-weight:bold;padding:0 20px;}
		.sprachlernzentren .info a.btn_down img { position:relative;margin-right:10px;}
		.sprachlernzentren .info a.btn_down:hover { background:#9ec71d;}
		.sprachlernzentren .list {height:100%; overflow:hidden;margin-top:70px;border-top:1px dashed #999;width:1040px;}
		.sprachlernzentren .list dl {float:left;width:450px;margin:60px 70px 0 0;min-height: 220px;}
		.sprachlernzentren .list dl dt {float:left;width:100px;}
		.sprachlernzentren .list dl dt span {display:block;font-size:28px;font-weight:bold;width:76px;height:76px;line-height:76px;text-align:center;color:#fff;}
		.sprachlernzentren .list dl dt span.a { background:url(../images/base/a_bg.png) no-repeat;}
		.sprachlernzentren .list dl dt span.b { background:url(../images/base/b_bg.png) no-repeat;}
		.sprachlernzentren .list dl dt span.c { background:url(../images/base/c_bg.png) no-repeat;}
		.sprachlernzentren .list dl dd {display:block;margin-left:100px;line-height:20px;}
		
		
		.fortbildungen .info {height:100%; overflow:hidden;}
		.fortbildungen .info p {display:block;font-size:14px;line-height:24px;}
		
		.fortbildungen .list {height:100%; overflow:hidden;margin-top:30px;}
		.fortbildungen .list .title {height:100%; overflow:hidden;border-bottom:1px solid #c4d700;padding:15px 0;}
		.fortbildungen .list .title h3 {float:left;font-size:30px;font-weight:bold; text-transform:uppercase; background:url(../images/base/h3_bg.gif) no-repeat right center;padding-right:30px;line-height:38px;}
		.fortbildungen .list .title h3.last {padding-left:30px; background:none;}
		.fortbildungen .list .title h3 a {color:#333;}
		.fortbildungen .list .title h3 a:hover,.fortbildungen .list h3 a.active {color:#c4d700;}
		.fortbildungen .list .title .back {float:right;line-height:38px;font-size:14px;}
		
		.fortbildungen .list dl {height:100%; overflow:hidden;border-bottom:1px dashed #999;padding:60px 0 50px 0;}
		.fortbildungen .list dl.last {border:0;}
		.fortbildungen .list dl dt {float:left;width:320px;text-align:left;}
		.fortbildungen .list dl dt img {width:280px;}
		.fortbildungen .list dl dd {display:block;margin-left:320px;}
		.fortbildungen .list dl dd h4 {display:block;font-size:18px;font-weight:bold;color:#c4d700;}
		.fortbildungen .list dl dd h4 a {color:#c4d700;}
		.fortbildungen .list dl dd h4 a:hover { text-decoration:underline;}
		.fortbildungen .list dl dd .timeAddress {height:100%; overflow:hidden;font-size:14px;margin:15px 0 20px 0;font-weight:bold;}
		.fortbildungen .list dl dd .timeAddress div {float:left;line-height:30px;margin-right:30px;}
		.fortbildungen .list dl dd .timeAddress div img { position:relative;top:6px;margin-right:7px;}
		.fortbildungen .list dl dd .text p {display:block;line-height:20px;margin-top:20px;}
		.fortbildungen .list dl dd .btn {}
		.fortbildungen .list dl dd .btn {height:100%; overflow:hidden;}
		.fortbildungen .list dl dd a.btn_down {display:block;margin-top:20px;float:left;height:40px;line-height:40px;background:#c4d700;color:#f4f8e9;font-size:14px;font-weight:bold;padding:0 20px;}
		.fortbildungen .list dl dd a.btn_down img { position:relative;margin-right:10px;}
		.fortbildungen .list dl dd a.btn_down:hover { background:#9ec71d;}
		
		.fortbildungen .list dl.detail dt {width:385px;}
		.fortbildungen .list dl.detail dt img {width:356px;}
		.fortbildungen .list dl.detail dd {margin-left:385px;}
		
		.fortbildungen .list dl.pt {padding:45px 0;}
		.fortbildungen .list dl.pt dt {width:225px;}
		.fortbildungen .list dl.pt dt img {width:200px;}
		.fortbildungen .list dl.pt dd {margin-left:225px;}
		.fortbildungen .list dl.pt dd .timeAddress .time {float:none;margin:10px 0;}
		.fortbildungen .list dl.pt dd .timeAddress .address {float:none;margin:10px 0;}
		
		
		.downPassword {background:#fff;padding:0px 40px;height:100%; overflow:hidden;}
		.downPassword h5 {display:block;font-size:12px;margin-top:30px;}
		.downPassword .input {padding-top:20px;}
		.downPassword .input .input_w {float:left; background:url(../images/base/input_bg.gif) repeat-x left top #fff;border:1px solid #d5d5d5;height:38px;line-height:38px;width:205px;padding:0 10px;}
		.downPassword .input .btn_down {float:left;margin-left:5px;height:40px;line-height:40px;background:url(../images/ico/ico-down2.png) no-repeat 15px center #c4d700;color:#f4f8e9;font-size:14px;font-weight:bold;padding:0 20px 0 40px;border:none; cursor:pointer;}
		.downPassword .input .btn_down:hover {background:url(../images/ico/ico-down2.png) no-repeat 15px center #9ec71d;}
		
		.pages {height:100%; overflow:hidden;margin:40px 0;}
		.pages ul {float:right;}
		.pages ul li {float:left;}
		.pages ul li a {display:block;width:40px;height:40px;text-align:center;line-height:40px;font-size:14px;}
		.pages ul li a.selcted {font-weight:bold;color:#c4d700;}
		.pages ul li.prev {margin-right:20px;}
		.pages ul li.prev a { background:url(../images/base/btn_prev.png) no-repeat;}
		.pages ul li.prev a:hover { background:url(../images/base/btn_prev2.png) no-repeat;}
		.pages ul li.next {margin-left:20px;}
		.pages ul li.next a { background:url(../images/base/btn_next.png) no-repeat;}
		.pages ul li.next a:hover { background:url(../images/base/btn_next2.png) no-repeat;}
		
		
		.wettbewerbe .list dl dd {margin-left:0;width:600px;float:left;}
		.wettbewerbe .list dl dd h4 {font-size:22px;}
		.wettbewerbe .list dl dd.right {float:right;width:310px;}
		.wettbewerbe .list dl dd.right .title {height:100%; overflow:hidden; background:#c4d700;text-align:center;color:#fff;}
		.wettbewerbe .list dl dd.right .title h4 {display:block;color:#fff;font-size:20px;}
		.wettbewerbe .list dl dd.right .title h5 {display:block;color:#fff;font-size:16px;font-weight:bold;}
		.wettbewerbe .list dl dd.right .photo {border:3px solid #e2e2e2;height:100%; overflow:hidden;border-top:0;padding:12px;}
		.other_list {height:100%; overflow:hidden;border-top:1px dashed #b2b2b2;margin-bottom:50px;}
		.other_list h2 {display:block;font-size:22px;font-weight:bold;color:#c4d700;margin:40px 0 20px 0;}
		.other_list ul {display:block;height:100%; overflow:hidden;width:990px;}
		.other_list ul li {float:left;width:300px;height:200px;margin-right:30px;}
		
		
		.kultur {height:100%; overflow:hidden;}
		.kultur .title {height:100%; overflow:hidden;border-bottom:1px solid #c4d700;padding-bottom:15px;}
		.kultur .title h2 {float:left;font-weight:bold;font-size:30px;color:#c4d700; text-transform:uppercase;line-height:38px;}
		.kultur .title .back {float:right;font-size:14px;line-height:38px;}
		.kultur .kultur_list {height:100%; overflow:hidden;margin:20px 0;}
		.kultur .kultur_list dl {display:block;height:100%; overflow:hidden;border-bottom:1px dashed #c4d700;padding:40px 0;}
		.kultur .kultur_list dl.last {border:0;}
		.kultur .kultur_list dl dt {float:left; text-align:left;width:180px;}
		.kultur .kultur_list dl dd {display:block;margin-left:210px;}
		.kultur .kultur_list dl dd h3 {display:block;font-size:16px;line-height:22px;font-weight:bold;color:#c4d700;}
		.kultur .kultur_list dl dd p {display:block;margin:20px 0;line-height:20px;}
		.kultur .kultur_list dl dd .btn {height:100%; overflow:hidden;}
		.kultur .kultur_list dl dd .btn a.more {float:left;height:30px;line-height:30px;padding:0 15px; background:#c4d700;color:#fff;font-size:14px;}
		.kultur .kultur_list dl dd .btn a.more img { position:relative;top:2px;margin-left:5px;}
		.kultur .kultur_list dl dd .btn a.more:hover { background:#9ec71d;}
		
		.kultur_cont {height:100%; overflow:hidden;margin-bottom:40px;}
		.kultur_cont p {display:block;line-height:20px;margin:20px 0;}
		
		
		
		.newsbox {height:100%; overflow:hidden;}
		.newsbox .title {height:100%; overflow:hidden;border-bottom:1px solid #c4d700;padding-bottom:15px;}
		.newsbox .title h2 {float:left;font-weight:bold;font-size:30px;color:#c4d700; text-transform:uppercase;line-height:38px;width:850px;}
		.newsbox .title ul.year {float:right;}
		.newsbox .title ul.year li {float:left;font-size:16px;line-height:38px;margin-left:30px;}
		.newsbox .title ul.year li a.active {color:#c4d700;font-weight:bold;}
		.newsbox .title .back {float:right;line-height:38px;font-size:14px;}
		.newsbox .news_list {}
		.newsbox .news_list {height:100%; overflow:hidden;margin:10px 0;}
		.newsbox .news_list dl {display:block;height:100%; overflow:hidden;border-bottom:1px dashed #c4d700;padding:40px 0;}
		.newsbox .news_list dl.last {border:0;}
		.newsbox .news_list dl dt {float:left; text-align:left;width:180px;}
		.newsbox .news_list dl dd {display:block;margin-left:210px;}
		.newsbox .news_list dl dd.nopicture {margin-left:0;}
		.newsbox .news_list dl dd h3 {display:block;font-size:16px;line-height:22px;font-weight:bold;color:#c4d700;}
		.newsbox .news_list dl dd .date {margin-top:10px;}
		.newsbox .news_list dl dd p {display:block;margin:20px 0;line-height:20px;}
		.newsbox .news_list dl dd .btn {height:100%; overflow:hidden;}
		.newsbox .news_list dl dd .btn a.more {float:left;height:30px;line-height:30px;padding:0 15px; background:#c4d700;color:#fff;font-size:14px;}
		.newsbox .news_list dl dd .btn a.more img { position:relative;top:2px;margin-left:5px;}
		.newsbox .news_list dl dd .btn a.more:hover { background:#9ec71d;}
		
		.news_cont {height:100%; overflow:hidden;margin:20px 0;}
		.news_cont .date {font-size:14px;margin:20px 0;}
		.news_cont .photo {float:left;width:390px;}
		.news_cont p {display:block;margin:0px 0px 20px 390px;line-height:20px;}
		
		
		.kontakt {height:100%; overflow:hidden;}
		.kontakt .title {height:100%; overflow:hidden;border-bottom:1px solid #c4d700;padding-bottom:15px;}
		.kontakt .title h2 {float:left;font-weight:bold;font-size:30px;color:#c4d700; text-transform:uppercase;line-height:38px;}
		.kontakt ul {display:block;height:100%; overflow:hidden;margin:20px 0;}
		.kontakt ul li {float:left;width:400px;padding:10px 0;}
		.kontakt ul li .ico {float:left;width:40px;text-align:left;}
		.kontakt ul li .text {display:block;font-size:14px;font-weight:bold;height:24px;line-height:24px;margin-left:40px;}
		.kontakt h3 {color: #c4d700;display: block;font-size: 24px;font-weight: bold;line-height: 22px; margin-bottom: 25px;text-transform: uppercase;margin-top:50px;}
		.kontakt p {display:block;margin:30px 0;line-height:22px;}
		.kontakt p strong {font-size:14px;}
		
		.main_box .contents .kontakt ul li {float:left;width:100%;padding:10px 0;}
		.f_box .flow {margin-left:60px;}

		.contactfrom {width:960px;margin:0 auto;margin:60px auto;height:100%; position:relative;}
		.contactfrom .cont {height:100%; padding-right:75px;}
		.contactfrom .cont h3 {color: #c4d700;display: block;font-size: 24px;font-weight: bold;line-height: 22px; margin-bottom: 25px;text-transform: uppercase;}
		
		.contactfrom .cont ul {float:left;margin-right:30px;}
		.contactfrom .cont ul li {display:block;margin:0 0 13px 0;}
		.contactfrom .cont ul li .input {}
		.contactfrom .cont ul li .input input {display:block; border:1px solid #dfdfdf; background:url(../images/base/input_bg.gif) repeat-x left top;font-size:14px;color:#333;padding:8px 10px;width:270px;border-radius:.2em;}		
		.contactfrom .cont ul li .input textarea {display:block; border:1px solid #dfdfdf; background:url(../images/base/input_bg.gif) repeat-x left top;font-size:14px;color:#333;padding:8px 10px;width:460px;height:160px;border-radius:.2em;}		
		.contactfrom .cont ul li .btn_submit {float:right;color:#f4f8e9;font-size:18px;border:0; font-weight:bold;text-align:center;height:50px;line-height:50px; background:#c4d700; cursor:pointer;padding:0 20px;margin-top:20px;}
		.contactfrom .cont ul li .btn_submit:hover { background:#9ec71d;}
		.selectbox { position:relative; z-index:4;}
		.contactfrom .cont ul li .selectbox input { background:url(../images/ico/ico-selectbox.png) no-repeat 260px center; cursor:pointer;}
		.selectbox ul {display:block; position:absolute;left:0;top:35px;margin:0;width:100%;display:none;}
		.selectbox ul li {display:block;border:1px solid #d5d5d5;margin:0;border-top:0;height:35px;line-height:35px;padding:0 11px; background:#fff; cursor:pointer;font-size:14px;}
		.selectbox ul li a {}
		.selectbox ul li a:hover {font-weight:bold;color:#c4d700;}
		
		.contactfrom .cont ul li .selectbox ul li {margin:0;}
		
		
.followus ul li.douban a {background-position:right -300px}
.followus ul li.douban a:hover {background-position:left -300px}

.followus ul li.renren a {background-position:right -420px}
.followus ul li.renren a:hover {background-position:left -420px}

.followus ul li.blog a {background-position:right -360px}
.followus ul li.blog a:hover {background-position:left -360px}