
.messages { display:none; }
.element-invisible { display:none; }
.messages { background: #90ee90; border: 1px solid green; padding: 15px; margin-top:10px;}
.messages.error { background: pink; border: 1px solid red; padding: 15px; margin-top:10px;}

.allmap .map_container { height: 500px; width: 100%; }

.kursort .followus ul li span { display: block; width: 50px;height: 50px; background: url(../images/ico/ico-follow.png) no-repeat;  }
.kursort .followus ul li.erweima span { background-position: right 0px; }

.selectbox select { display:none; }

#container select.error+input, #container input.error, #container textarea.error { border: 1px solid red; }

.exam_slide .list .table table th { padding: 12px 6px; width:67px; }
.exam_slide .list .table table td { width:67px; }
.exam_slide .list .table table { table-layout:fixed; }

.exam_slide .list .table table td .book a { font-size: 14px; color: #efc60b; font-weight: bold; }

h3.green a { color: #c4d700; }
.testimonials .slides_container .list dl {background:#fff}
.application .btn input.btn_ok { float: right; height: 50px; line-height: 50px; padding: 0 50px; font-size: 18px; font-weight: bold; background: #c4d700; margin: 40px 0 80px; color: #fff; border: none; cursor:pointer;}

div.webform-datepicker div.form-type-select { display:none; }
#ui-datepicker-div { z-index: 50 !important;}

.kurse .appThankyou .info ul { border-bottom: none; padding: 0px; }
.kurse .appThankyou .info  h4 { display: block; font-size: 14px; margin-top: 15px; font-weight:bold; }
.kurse .appThankyou .info  strong { color: #c4d700; }
.kurse .appThankyou .info .map_container{ height: 400px; width: 852px; margin-top: -24px; margin-left: 105px; }

.checkboxList select { display:none; }

.kursen_links ul li a { font-size: 16px; }

#menu ul li .menu_up { width:210px; }

.title .description { display: block; font-size: 14px;line-height: 24px; padding-top: 20px; clear:both; }
.kurse .left .list .right .price span { font-size: 23px; }

.kurse .left .list .left.shortstyle { width:100%; }
.kurse .left .list .left.shortstyle p { margin-top:10px; }

#main .element-invisible { display:none; }
select.month, select.day, select.year { border: 1px solid #dfdfdf; background: url(../images/base/input_bg.gif) repeat-x left top; font-size: 14px; color: #333; padding: 10px 10px; border-radius: .2em;}
.application .form .selectbox ul {max-height:200px;overflow:auto;border-bottom:1px solid #d5d5d5;}

.stellenausschreibung { margin-top: 0; }

.tags a.active { color: #91b61c; }
#backTop {display:none;}

#header {position:relative;height:90px;box-shadow:0 1px 2px #ccc}
#menu {*width:770px;}
.homeBanner .bg img { height: auto; }
#lemumgebung .list .bg img { height:auto; }
#menu ul { min-width:700px; }
#menu .menu_up ul { min-width: 0; }


/* menu */
#menu .search {
    position: relative;
    height: 30px;
}

#menu .search .searchbox {
	position: absolute;
	right: 0;
	top: 38px;
	padding-top: 19px;
	background: url(../images/ico/arrow-search.png) no-repeat right top;
	width: 314px;
	display: none;
}

#menu .search .searchbox .input {
	float: left;
	width: 246px;
	height: 45px;
	background: url(../images/base/h_bg.png);
}

#menu .search .searchbox .input input {
	float: left;
	width: 226px;
	border: 0;
	background: none;
	padding: 14px 10px 5px 10px;
	font-size: 14px;
}

#menu .search .searchbox .input .inputText {
	top: 33px;
}

#menu .search .searchbox .btn {
	float: left;
	width: 68px;
	height: 45px;
}

#menu .search .searchbox .btn input {
	float: left;
	width: 68px;
	height: 45px;
	background: url(../images/base/btn_search.png) no-repeat;
	cursor: pointer;
	border: 0;
}

#menu .search .searchbox .btn input:hover {
	background-position: left bottom;

}
#menu .search .searchbox .input label{
	display:none;

}

.news_cont.no-pic p { margin:0; }

h3.green a {color:#c4d700}
h3.green a:hover { text-decoration:underline;}

.exam_slide a.prev { z-index: 1; }
.exam_slide a.next { z-index: 1; }

body.front .kursen_slide { height: auto; }

.city_contact .allmap { margin: 0; }
.city_contact .allmap .map_container { height: 500px; width: 100%; }
.city_contact .kursort { margin: 0 auto; }

#lemumgebung .list .bg img { width: 100% !important; }
.stellenausschreibung.detail { margin-top: 50px; }

.agenda .exam_slide .list { min-height:400px; }













/*ss*/
.cicyheader .h_box {width:100%;margin:0 auto;height:100px;}
	.cicyheader .h_box .logo {float:left;margin-top:20px;padding-left:20px;}
	.cicyheader .h_box .h_right {float:right;padding-right:20px;}
	.cicyheader .h_box .lang {float:right; position:relative;margin-top:20px;}
	.cicyheader .h_box .lang a.active{color:#9ec71d;font-weight:bold;}
	

.cicyheader #menu {float:right;clear:both;width:70%;margin-top:-20px;}
.cicyheader #menu ul {float:right;}
.cicyheader #menu ul li {float:left;font-size:14px; position:relative; font-family:Verdana;padding-bottom:23px;}
.cicyheader #menu ul li a {color:#333;display:block;padding:0 25px;}
.cicyheader #menu ul li.first a {padding-left:0;}
.cicyheader #menu ul li a:hover {color:#c4d700; text-decoration:none;}
.cicyheader #menu ul li a.active {color:#c4d700;font-weight:bold;}
.cicyheader #menu ul li a.selected {color:#c4d700;}

.cicyheader #menu ul li .menu_up { position:absolute;top:29px;left:0;padding-top:10px; background:url(../images/base/menu_up_ico.png) no-repeat 25px 0;width:175px;display:none;}
.cicyheader #menu ul li .menu_up ul {float:none;display:block; background:url(../images/base/menu_up_bg.png);height:100%; overflow:hidden;}
.cicyheader #menu ul li .menu_up ul li {float:none;display:block;height:100%; overflow:hidden;border-bottom:1px solid #c4d700;height:auto;line-height:26px;padding:8px 15px;}
.cicyheader #menu ul li .menu_up ul li.last {border:0;}
.cicyheader #menu ul li .menu_up ul li a {display:block;height:auto;line-height:26px;color:#fff;font-weight:bold;padding:0;word-break:break-all;}
.cicyheader #menu ul li .menu_up ul li a:hover { text-decoration:underline;}



	.cicyheader .h_box .h_right .search {float:right;margin-top:19px;padding-left:30px;}
	.cicyheader .h_box .h_right .search a {display:block;width:16px;height:16px; background:url(../images/ico/ico-search1.png) no-repeat;}
	.cicyheader .h_box .h_right .search a:hover { background:url(../images/ico/ico-search2.png) no-repeat;}


/* menu */
.cicyheader .search {
    position: relative;
    height: 30px;
}

.cicyheader .search .searchbox {
	position: absolute;
	right: 0;
	top: 110px;
	padding-top: 19px;
	background: url(../images/ico/arrow-search.png) no-repeat right top;
	width: 314px;
	display: none;
}

.cicyheader .search .searchbox .input {
	float: left;
	width: 246px;
	height: 45px;
	background: url(../images/base/h_bg.png);
}

.cicyheader .search .searchbox .input input {
	float: left;
	width: 226px;
	border: 0;
	background: none;
	padding: 14px 10px 5px 10px;
	font-size: 14px;
}

.cicyheader .search .searchbox .input .inputText {
	top: 33px;
}

.cicyheader .search .searchbox .btn {
	float: left;
	width: 68px;
	height: 45px;
}

.cicyheader .search .searchbox .btn input {
	float: left;
	width: 68px;
	height: 45px;
	background: url(../images/base/btn_search.png) no-repeat;
	cursor: pointer;
	border: 0;
}

.cicyheader .search .searchbox .btn input:hover {
	background-position: left bottom;

}
.cicyheader .search .searchbox .input label{
	display:none;

}

#views-exposed-form-search-panel-pane-1 {float:right;}


body{font-family: Verdana;}
.homeBanner .contacts .cont h1 strong,.home_list .cont h2 ,.kursen .kTitle h2,.green, a.green,.kursen .kTitle h2  {color: #c4d700;}
.rightlist .title ,.exam_slide .list .table table th ,.kursen .kTitle .btn_blog a,.home_list .cont .btn_green a {background: #c4d700;}

.check select {
    display: none;
}
#edit-submitted-i-have-already-read-the-terms-and-conditions{
    width: 25px;
    float: left;
}
.checkboxSingle label {display:none}
.checkboxSingle li div.form-radios{  width: 25px;
    float: left;}
.rightlist {clear: both}

.checkboxSingle li a.file_a {color: #91b61c;}
.contents .left p a {color: #91b61c;}

.btn_okk {
float: right;
height: 50px;
line-height: 50px;
padding: 0 50px;
font-size: 18px;
font-weight: bold;
background: #c4d700;
margin: 40px 0 80px;
color: #fff;
border: none;
cursor: pointer;
}

.back-to-mainsite {float:right;margin-top:18px;margin-right:20px;position:relative;}

ul.team li .name {text-align:center;}
.newsbox .title ul.year {display:none;}
